@-webkit-keyframes totheground {
    from { margin-top: -100%; }
    70%  { margin-top: 10%; }
}
@-moz-keyframes totheground {
    from { margin-top: -100%; }
    70%  { margin-top: 10%; }
}
@-ms-keyframes totheground {
    from { margin-top: -100%; }
    70%  { margin-top: 10%; }
}

@-o-keygrames totheground {
    from { margin-top: -100%; }
    70%  { margin-top: 10%; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}